{% extends "layout.html" %} {% block content %}

<h1 class= "welcome"> pbplop@gmail.com</h1>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contacts.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<body>

    <div class="middle">
        
    <a class="btn" href="https://www.facebook.com/pbplop29">
    <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn" href="https://twitter.com/pokhrel_biplov">
    <i class="fab fa-twitter"></i>
    </a>
    <a class="btn" href="https://github.com/pbplop29">
        <i class="fab fa-github"></i>
    </a>
    <a class="btn" href="https://www.instagram.com/_bplop_/">
    <i class="fab fa-instagram"></i>
    </a>
    <a class="btn" href="https://www.youtube.com/channel/UCdfMlvyh4zToY4EF8RqcInA">
    <i class="fab fa-youtube"></i>
    </a>
    
</div>


</body>
{% endblock content %}