
<!-- --------------------------- BLOCK EXTENSION --------------------------- -->
{% extends "layout.html" %} {% block content %}



{%from "formhelpers.html" import render_field%}
{%from "formhelpers.html" import render_country_field%}




<h1 class = 'welcome'>Explore</h1>
<div class='form3'>
<form action="/explore" method="POST" >
    {{ form1.csrf_token }}

    {{ form1.hidden_tag() }}

    {{ render_country_field(form1.question1) }}
    {{form1.submit(class="text-success")}}

    

</form>

<form action="/explore" method="POST" >
    {{ form2.csrf_token }}

    {{ form2.hidden_tag() }}

    {{render_field(form2.question2, PLACEHOLDER=form2.question2.label.text)}}
    {{form2.submit2(class="text-success")}}
</form>
</div>




<div class = 'explore-container'>

<div class='row'>
    <div class="column batch" style="background-color:#202833;">
        <h2 class = 'explore-container-column-title'>Batch</h2>
        <p>{% for i in batch %}

            <h1  class = 'explore-container-details'> {{ i }} </h1>
        
        {% endfor %}</p>
    </div>
    <div class="column username" style="background-color:#0A0E14">
        <h2 class = 'explore-container-column-title'>Username</h2>
        <p>{% for i in username %}

            <h1  class = 'explore-container-details'> {{ i }} </h1>
        
        {% endfor %}</p>
    </div>
    <div class="column email" style="background-color:#202833;">
        <h2 class = 'explore-container-column-title'>Email</h2>
        <p>{% for i in email %}

            <h1  class = 'explore-container-details'> {{ i }} </h1>
        
        {% endfor %}</p>
    </div>
    <div class="column rollno" style="background-color:#0A0E14;">
        <h2 class = 'explore-container-column-title'>RollNo</h2>
        <p>{% for i in rollno %}

            <h1  class = 'explore-container-details'> {{ i }} </h1>
        
        {% endfor %}</p>
    </div>
    <div class="column branch" style="background-color:#202833;">
        <h2 class = 'explore-container-column-title'>Branch</h2>
        <p>{% for i in branch %}

            <h1  class = 'explore-container-details'> {{ i }} </h1>
        
        {% endfor %}</p>
    </div>
</div>

</div>

</div>






{% endblock content %}



