{% macro render_field(field) %}
<div >
    <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
    <div class>
        {{ field(class_='form-field', **kwargs)|safe }}
    
        <ul class='ulx'>
            {% for error in field.errors %}
            <li class='lix' >{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}


{% macro render_radio_field(field) %}
<div >
    <label class="control-label">{{ field.label.text }}</label>
    <div >
        {% for subfield in field %}
        <div >
            <label class="control-label-2">
                {{ subfield }}
                {{ subfield.label.text }}
            </label>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_recap(field) %}
<div >
    <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
    <div>
        {{ field(class_='form-field', **kwargs)|safe }}
    
        <ul class="ulx">
            {% for error in field.errors %}
            <li class="lix">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

